:root{
    --cl-fondo: #f1f0eb;
    --cl-sec: #644842;
    --cl-bt:  #877C7B;
    --cl-bt-elim: #B16D6D;
}
body{
    background-color: var(--cl-fondo);
}
.banner {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    max-height: 210px;
}

.tj-libros {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tj-libros h3{
    padding: 0.5rem;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
}

.footer {
    background-color: black;
    color: white;
    padding: 2rem;
    font-family: 'Cantora One', sans-serif;
}